/*************** GENERAL ****************/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container-fluid {
  margin:0;
  padding:0;
}
.min-height-sections-500{
  min-height:500px;
}

.padding-30{
  padding:30px;
}

.padding-20{
  padding:20px;
}

/*************** FONTS ****************/
.weight-bold{
  font-weight: bold;
}
.font-23{
  font-size:23px;
}
.spacing-10{
  letter-spacing: 10px;
}

/*************** COLOR TEXT ****************/

.white-text{
  color:white;
}
.black-text{
  color:#1B2726;
}
.yellow-text{
  color: #F7BF17;
}
.grey-text{
  color:#9d9d9d;
}

/*************** BACKGROUNDS ****************/

.yellow-section{
  background: #F7BF17;
}
.black-background{
  background: #191919;
}
.yellow-background{
  background: #F7BF17;
}

/*************** MEDIA QUERYS ****************/

@media (max-width: 33.9em) {
  .quienes-somos-img img{
    width:200px;
  }
  .btn-inicio{
    top: 80%!important;
  }
  .carousel-inner{
    margin-top: 80px;
  }
 }
@media (max-width: 47.9em) {
  .btn-inicio{
    top: 72%!important;
  }
}
@media (max-width: 61.9em) {
  .btn-inicio{
    top: 72%!important;
  }
}
@media (max-width: 74.9em) {
}
