.navbar {
  min-height: 80px;
  border-radius: 0px;
  margin-bottom: 0px;
  border:0px;
}
.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
  align-items: center;
  background:#F7BF17;
}
.navbar-brand:hover {
  background:#F7BF17!important;
}
.navbar-brand>img {
  padding: 7px 14px;
  width:210px;
}
.navbar-inverse {
  background-color: #191919;
  border-color: #080808;
  border-bottom: 8px solid #F7BF17;
}

.navbar-inverse .navbar-nav>li>a {
  color: #9d9d9d;
  font-size: 16px;
}

.nav li{
  padding-right:2em;
 }

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}
